# Ignore all __pycache__ folders
**/__pycache__/
**/*.py[cod]
# Ignore any changes to downloaded pretrained models
**/Pretrained_models
# ignore changes to model run
**/model_runs

# Ignore large training data files
training_data/roi_filtering/all_roi_features.npy
training_data/roi_filtering/all_roi_features.json
training_data/roi_filtering/all_roi_features_spike_keys.csv

# ignore test data folders 
**/test_data/

**data/
**saved_models/
**logs/