# Ignore all __pycache__ folders
**/__pycache__/
**/*.py[cod]
# Ignore any changes to downloaded pretrained models
**/Pretrained_models
# ignore changes to model run
**/model_runs

# Ignore large training data files
data/all_roi_features.npy
data/all_roi_features.json
data/all_roi_features_spike_keys.csv

# ignore test data folders 
**/test_data/

**data/
**saved_models/
**logs/
checklist.md
sandbox/
preprocessing/concat_videos.py
models/
config/